// Esquema de color

// Primer esquema de color
$white: #FFF;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;

// Segundo esquema de color
$red: #E84855;

// Tercer esquema de color
$eerie-black: #121619;
$raisin-black: #222323;
$nickel:#121619;
$blue: #3EC7EF;

// Tipografia
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

// Peso de fuentes 
$font-black-italic: 900;
$font-regular: 400;
$font-light: 300;

// Tamaño de fuente
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;